.title {
  color: #000000;
  font-size: 33px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: Georgia, serif;
}

.herotitle {
  color: #000000;
  font-size: 88px;
  line-height: 88px;
  font-weight: 700;
  font-family: Georgia, serif;
}