@font-face {
    font-family: 'Diot';
    src: url(CanadaType-DidotDisplay-Bold.ttf);
    font-weight: normal;
}

/*** Lobo ***/

@font-face {
    font-family: "lobo";
    src:url("./lobo/lobo.eot");
    src:url("./lobo/lobo.eot?#iefix") format("embedded-opentype"),
    url("./lobo/lobo.woff") format("woff"),
    url("./lobo/lobo.ttf") format("truetype"),
    url("./lobo/lobo.svg#lobo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:'FontAwesome';
  src:url('./fontawesome/fontawesome-webfont.eot?v=4.3.0');
  src:url('./fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0')
  format('embedded-opentype'), url('./fontawesome/fontawesome-webfont.woff2?v=4.3.0')
  format('woff2'), url('./fontawesome/fontawesome-webfont.woff?v=4.3.0')
  format('woff'), url('./fontawesome/fontawesome-webfont.ttf?v=4.3.0')
  format('truetype'), url('./fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular')
  format('svg');
  font-weight:normal;
  font-style:normal
}

[data-icon]:before {
    font-family: "lobo" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "lobo" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "X";
}
.icon-instagram:before {
    content: "x";
}
.icon-twitter:before {
    content: "\"";
}
.icon-pinterest:before {
    content: "m";
}
.icon-linkedin:before {
    content: "4";
}

.layout {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    -webkit-transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    &.opened {
        right: 50%;
    }
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: color 0.2s ease-out;
       -moz-transition: color 0.2s ease-out;
        -ms-transition: color 0.2s ease-out;
         -o-transition: color 0.2s ease-out;
            transition: color 0.2s ease-out;
}

/*** END Lobo ***/