.logo-container {
    .logo {
        display: block;
        width: 322px;
        height: 40px;
        background-image: url(logo_white.png);
        background-size: 100%;
    }
    &.white {
        .logo {
            background-image: url(logo_black.png);
        }
    }
}