.contact-page {
    position: relative;
    z-index: 2;
    display: block;
    background-color: rgb(254, 254, 254);
    width: 100%;
    padding-top: 127px;
    .page-wrapper {
        display: table;
        margin: 0 auto;
        .form-wrapper {
            display: table-cell;
            width: 50%;
            height: 100%;
            padding: 5%;
            margin: 0 auto;
        }
    }

    @media all and (min-width: 320px) and (max-width: 767px) {
        .page-wrapper {
            width: 95%;
            box-sizing: border-box;
            padding: 3%;
            .form-wrapper {
                width: 93%;
                box-sizing: border-box;
            }
        }
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    .contact-page {
        padding-top: 58px;
    }
}

