.page {

    /******************/
    /*** PARAGRAPHS **/
    /****************/
    .paragraph {
        @include box-sizing(border-box);
        color: $black;
        font-size: 15px;
        line-height: 20px;
    }

    .paragraph--bold {
        @include box-sizing(border-box);
        color: $black;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
    }

    /****************/
    /*** TITLES **/
    /**************/

    .title {
        color: $black;
        font-size: 33px;
        line-height: 38px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .hero--title {
        color: $black;
        font-size: 88px;
        line-height: 88px;
        font-weight: 700;
    }

    /*****************/
    /*** SUBTITLES **/
    /**************/

    .subtitle {
        color: $black;
        text-align: center;
        font-size: 17px;
        line-height: 25px;
    }

    .hero--subtitle {
        color: $summer_sky2;
        font-size: 88px;
        line-height: 88px;
        font-weight: 700;
        background: -webkit-linear-gradient(left, $V_iris_blue, $summer_sky2);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

}

@media (max-width: 767px) and (min-width: 320px) {
    .page {
        p {
            font-size: 13px;
        }
        .hero--title {
            font-size: 24px;
            line-height: 24px;
        }
        .hero--subtitle {
            font-size: 24px;
            line-height: 24px;
        }
    }
}