.social-area {
    margin-top: 25px;

    ul {
        display: block;
        width: 100%;
        padding: 0 25%;
        text-align: center;
        box-sizing: border-box;
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;
            text-align: center;
            margin-right: 30px;
            line-height: 150px;
        }

        li:last-child { margin: 0; }

        a {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
            position: relative;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.2s ease-out;
            outline: none;
            color: rgb(34, 34, 34);

            span {
                display: none;
                font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
                font-weight: 600;
                font-size: 11px;
            }

            :active {
                color: rgb(25, 122, 117);
            }
            :after {
                content: "";
                display: block;
                height: 0;
                -webkit-transform: translateY(7px);
                transform: translateY(7px);
                transition: -webkit-transform .1s cubic-bezier(0.55,.085,.68,.53),opacity .1s cubic-bezier(0.55,.085,.68,.53);
                transition: transform .1s cubic-bezier(0.55,.085,.68,.53),opacity .1s cubic-bezier(0.55,.085,.68,.53);
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                height: 2px;
                pointer-events: none;
                opacity: 0;

            }

            :hover:after {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                transition: -webkit-transform .2s cubic-bezier(0.25,.46,.45,.94),opacity 0s linear;
                transition: transform .2s cubic-bezier(0.25,.46,.45,.94),opacity 0s linear;
                transition-delay: 0s;
            }

            .icon-facebook:after { background: #3b5998; }
            .icon-instagram:after { background: #3F729B; }
            .icon-twitter:after { background: #00aced; }
            .icon-pinterest:after { background: #cb2027; }
            .icon-linkedin:after { background: #3399CC; }


        }
        @media all and (min-width: 950px) and (max-width: 1000px) {
            a {
                i { display: none; }
                span { display: inline-block;  }
            }
        }

        @media all and (max-width: 950px){
            li { 
                display: block;
                margin: 0;

                i { display: none; }
                span { display: block; line-height: 30px; }
            }
        }
    }
}