$black:            #000000;
$white:            #ffffff;
$night:            #333333;
$turquoise:        #29cbc8;
$turquoise_blue:   #6fdce1;
$whisperbg:        rgba(235, 235, 235, 0.75);
$whisper:          #e9e9e9;
$gainsboro:        #e0e0e0;
$nero:             #222222;
$nero2:            #262626;
$nero3:            #272727;
$nero4:            #202020;
$matterhorn:       #565656;
$silver:           #bdbdbd;
$v_light_grey:     #cccccc;
$light_grey:       #cfcfcf;
$grey:             #878787;
$v_dark_grey:      #121212;
$dark_grey:        #aeaeae;
$dim_grey:         #666666;
$dim_grey2:        #6c6c6c;
$charcoal:         #444444;
$solitude:         #e2e4e6;
$white_smoke:      #f3f3f3;
$eclipse:          #3c3c3c;
$orange_red:       #f1430e;
$mariner:          #3b5998;
$aquamarine:       #69fac2;
$fire_engine_red:  #cb2027;
$lochmara:         #3f729b;
$deep_sky_blue:    #00aced;
$summer_sky:       #3399cc;