.prodtablewrpr {
  color: rgb(34, 34, 34);
  display: block;
  text-align: left;
  font-family: Georgia, serif;
  margin-top: 0;
  .shopcarttable {
    border: none;
    vertical-align: top;
    margin-top: 100px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    thead { display: table-header-group; }
    th {
      font-size: 13px;
      line-height: 17px;
      min-height: 41px;
      font-weight: 800;
      padding: 10px 14px 8px;
      text-transform: uppercase;
      color: #565656;
      vertical-align: top;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .prodname {
      padding-left: 143px;
    }
  }
}

@media only screen and (max-width: 760px),
(max-device-width: 1024px) and (min-device-width: 768px) {
  .shopcarttable {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
}