.subnav {
  position: relative;
  width: 100%;
  z-index: 101;
  background: #fff;
  border-bottom: 1px solid #cecece;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 28px;
  height: 22px;
  font-family: Georgia, Times, serif;
  .breadcrumbs {
    position: absolute;
    top: 33px;
    left: 3%;
    font-size: 11px;
    line-height: 11px;
    font-weight: 500;
    color: #565656;
    margin: 5px 0 10px;
    text-transform: uppercase;
    .divider {
      font-size: 0;
      color: #bdbdbd;
    }
    .divider::after {
      font-size: 11px;
      content: " / ";
    }
  }
  .subnavlist {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    .subnavitem {
      display: inline-block;
      margin: 0 15px;
      font-weight: 700;
      font-size: 13px;
      line-height: 13px;
    }
  }
  .innerlink {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }
  .innerlink::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #29cbc8;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    transition: -webkit-transform .1s cubic-bezier(0.55,.085,.68,.53),opacity .1s cubic-bezier(0.55,.085,.68,.53);
    transition: transform .1s cubic-bezier(0.55,.085,.68,.53),opacity .1s cubic-bezier(0.55,.085,.68,.53);
  }
  .innerlink:hover::after {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition: -webkit-transform .2s cubic-bezier(0.25,.46,.45,.94),opacity 0s linear;
    transition: transform .2s cubic-bezier(0.25,.46,.45,.94),opacity 0s linear;
    transition-delay: 0s;
  }
}

@media (max-width: 767px) and (min-width: 320px){
  .subnav {
    .breadcrumbs {
      display: block;
      margin-top: -25px;
      text-align: left;
    }

    .innerlink::after {
      display: none;
    }
  }
}
