.sendgiftwrpr {
  width: 420px;
  margin-left: -320px;
  box-shadow: 1px 1px 10px #333;
  background: #eee;
  padding: 20px;
  position: relative;
  z-index: 100000;
  float: left;

  .sgtext {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .inputfields {
    display: block;
    max-width: 85%;
    float: none;
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: 800;
    text-align: left;
    background: #ffffff;
    color: #202020;
    padding: 5px 10px;
    height: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
  }

  .message {
    display: block;
    width: 100%;
    box-sizing: border-box;
    display: block;
    resize: none;
    overflow: auto;
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: 800;
    border-radius: 5px;
    border-color: #dbd8d8;
    color: #222;
    padding: 5px 10px;
  }

  .inputfields:focus, .message:focus { outline: none; }

  .btn {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    border: none;
    outline: none;
    display: inline;
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    appearance: button;
    box-sizing: border-box;
    background-color: #29cbc8;
    width: auto;
    margin-top: 20px;
    cursor: pointer;
    padding: 1px 6px;
  }

  .addbtn {
    font-weight: 800;
    font-size: 13px;
    line-height: 13px;
    width: 140px;
    height: 50px;
    margin-top: 1px;
    text-transform: uppercase;
  }

  .cancelbtn {
    margin: 10px 0px 0px 13px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
  }

  .btn:hover {
    background-color: #333333;
    color: #29cbc8;
  }
}