.module-text {
    height: 461px;
    width: 25%;
    display: inline-block;
    background-image: url(./assets/homepagecolor-480x480.png);
    background-color: rgb(239, 239, 239);
    color: rgb(255, 255, 255);
    float: left;
    box-sizing: border-box;
    .text-wrapper {
        font-family: Georgia, serif;
        font-size: 16px;
        line-height: 22px;
        padding-top: 34%;
        padding-left: 5%;
        text-align: left;
        p{ margin: 0px; }
        p:nth-child(even){
            font-weight: bold;
        }
    }
}

.module-image {
    height: 461px;
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    float: left;
    color: blue;

    img{ width: 100%; }
}