.contactpage {
  position: relative;
  z-index: 2;
  display: block;
  background-color: rgb(254, 254, 254);
  width: 100%;
  padding-top: 127px;
  .pagewrapper {
    margin: 0 auto;
    height: 853px !important;
    .formwrapper {
      float: left;
      box-sizing: border-box;
      width: 100%;
      padding: 5% 0;
      .validationError {
        font-family: Georgia, serif;
        box-sizing: border-box;
        border: 2px solid red;
        margin: 0 auto;
        width: 535px;
        margin-top: 38px;
        padding: 3px 16px;
      }
      .show { display: block; }
      .hide { display: none; }
      .borderRed { border: 2px solid rgb(255, 0, 0); }
      .borderYellow { border: 2px solid rgb(247, 231, 0); }
    }
    .phone {
      float: left;
      box-sizing: border-box;
      font-weight: bold;
      text-align: center;
      padding: 0 10%;
      width: 100%;
    }
  }
}

@media (max-width: 479px) and (min-width: 320px) {
  .contactpage {
    padding-top: 58px;
    .pagewrapper {
      .formwrapper {
        padding: 8%;
      }
    }
  }
}
