@import '../../../node_modules/normalize.css/normalize.css';

@import '../_fonts.css';
/*
 * Base styles
 * ========================================================================== */
.layout {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.pagewrapper {
	position: relative;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.menuopen {
	right: 50%;
  width: 100%;
}