.page {
  position: relative;
  width: 100%;
  z-index: 1;
  padding-top: 127px;
  .warning {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    color: #565656;
  }
}