.navigation {
  display: table;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
  padding: 40px 115px 40px 0;
  float: right;
  .navitem {
    position: relative;
    display: inline-block;
    .navlink {
        display: block;
        padding: 15px;
        font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 14px;
        font-weight: normal;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .topline {
        display: none;
        position: absolute;
        width: 100%;
        height: 3px;
        top: -43px;
        background-color: rgb(111, 220, 225);
    }
  }
  .greenline {
      display: block;
      position: absolute;
      top: -3px;
      height: 3px;
      background-color: rgb(111, 220, 225);
      transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }
  .active { 
    .topline { display: block };
  }
}

.mobilenavigation {
  padding: 0 5%;
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  .navitem {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.8em;
    .navlink {
      display: block;
      position: relative;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 23px;
      line-height: 28px;
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      outline: none;
      -webkit-transition: color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out;
      -ms-transition: color 0.2s ease-out;
      -o-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out;
      text-transform: uppercase;
    }
  }
  .active {
    .navlink {
      font-weight: 900;
      color: rgb(102, 223, 221);
    }
  }
}
.menuopen {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media (max-width: 1000px) {
  .greenline {
    display: none;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 320px) {
  .navigation { display: none; }
}

@media (max-width: 479px) and (min-width: 320px) {
  .mobilenavigation {
    .navitem {
      text-align: left;
      margin-bottom: 0.7em;
      padding-left: 15px;
      .navlink {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }
}
