.submitButton {
    width: 200px;
    height: 40px;
    border: none;
    color: #222;
    cursor: pointer;
    background-color: rgb(111, 220, 225);
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
}