.wrprNoPadding { padding-top: 0px !important; }
.wrapper {
  position: relative;
  width: 100%;
  padding: 60px 0;
  margin: 0 auto;
  background-color: #ffffff;
  background-attachment: fixed;
  z-index: 1;
}
.contentwrapper {
  padding: 0 5%;
  max-width: 1200px;
  margin: 0 auto;
}
.formwrapper {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 150px 80px 50px;
  margin: 0 auto;
  box-sizing: border-box;
  background: rgba(235, 235, 235, 0.75);
}
/* Cart Section custom classes */
.cartwrpr {
  max-width: 1300px !important;
}
.contentwrpr {
  background: #fff !important;
  padding: 0 50px !important;
}
.emptycartwrpr {
  padding: 60px 30px !important;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
  .contentwrpr { padding: 0 !important; }
}

@media only screen and (max-device-width: 1024px) {
  .formwrapper { padding: 40px; }
  .contentwrpr { padding: 0 !important; }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contentwrpr { padding: 0 !important; }
}
