.wrprNoPadding { padding-top: 0px !important; }
.wrapper {
  position: relative;
  width: 100%;
  padding: 60px 0;
  margin: 0 auto;
  background-color: #ffffff;
  background-attachment: fixed;
  z-index: 1;
  .contentwrapper {
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto;
    .contenttabs {
      display: table;
      text-align: center;
      padding: 0;
      margin: 0 auto;
      margin-bottom: 40px;
      .tab {
        display: inline-block;
        margin: 0 3px;
        .button {
          color: #222222;
          font-family: 'Helvetica Neue', Helvetica, Arial, serif;
          height: 52px;
          font-size: 11px;
          line-height: 52px;
          font-weight: 800;
          text-transform: uppercase;
          background: #E9EDEF;
          cursor: pointer;
          padding: 0 30px;
          border: 0;
          outline: none;
          -webkit-appearance: button;
          -moz-appearance: button;
          -ms-appearance: button;
          appearance: button;
        }
        .button:disabled {
          background: transparent;
          color: #bbbbbb;
        }
        .blogin.login,
        .bregister.register,
        .blogin.login:hover,
        .bregister.register:hover {
          background: #E9EDEF;
        }
      }
    }
    .account {
      .tab {
        .button {
          color: #222222;
          transition: background 0.2s linear;
          -webkit-transition: background 0.2s linear;
          -moz-transition: background 0.2s linear;
          -ms-transition: background 0.2s linear;
          -o-transition: background 0.2s linear;
        }
        .button:not(.active):hover {
          background: #f7f7f7;
          transition: background 0.2s linear;
          -webkit-transition: background 0.2s linear;
          -moz-transition: background 0.2s linear;
          -ms-transition: background 0.2s linear;
          -o-transition: background 0.2s linear;
        }
      }
    }
    .hidden {
      display: none;
      visibility: hidden;
    }
    .formwrapper {
      position: relative;
      width: 100%;
      min-height: 200px;
      padding: 150px 80px 50px;
      margin: 0 auto;
      box-sizing: border-box;
      background: rgba(235, 235, 235, 0.75);
    }
  }
}
/* Cart Section custom classes */
.cartwrpr {
  max-width: 1300px !important;
}
.contentwrpr {
  background: #fff !important;
  padding: 0px 50px !important;
}
.emptycartwrpr {
  padding: 60px 30px !important;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
  .wrapper {
    .contentwrapper {
      .contenttabs {
        .tab { margin: 0 58px; }
      }
    }
  }
  .contentwrpr { padding: 0px !important; }
}

@media only screen and (max-device-width: 1024px) {
  .wrapper {
    .contentwrapper {
      .formwrapper {
        padding: 50px;
      }
    }
  }
  .contentwrpr { padding: 0px !important; }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .wrapper {
    .contentwrapper {
      .contenttabs {
        .tab { margin: 0 15px; }
      }
    }
  }
  .contentwrpr { padding: 0px !important; }
}