.formWrapper {
	background-color: rgb(254, 254, 254);
	color: rgb(0, 0, 0);
	text-align: left;
	height: 100%;
	width: 50%;
	margin: 0 auto;
	vertical-align: top;
	padding-top: 3%;
	padding-bottom: 3%;
}