*:focus {
    outline: none;
}
*::selection {
  background-color: #29cbc8;
  color: #fff85f;
}
.cform {
  position: relative;
  width: 350px;
  display: table;
  margin: 0 auto;
  z-index: 2;

  .inputwrapper {
    margin: 0 4px 10px 4px;
  }

  .inputwrapper:first-child, .submitbutton:last-child {
    margin-top: 10px;
  }

  .inputfields {
    display: table;
    width: 100%;
    border: 1px solid #e9e9e9;
    padding: 5px 10px;
    color: #222222;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: normal;
  }

  .fieldnames {
    font-family: Georgia, serif;
    color: #000000;
    font-size: 16px;
    line-height: 22px;
  }

  .errorContainer {
    font-family: Georgia, serif;
    color: red;
  }

  .submitbutton {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(111, 220, 225);
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 22px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    -webkit-appearance: button;
    color: #222222;
  }

  textarea.inputfields {
    line-height: 22px;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.hide {display: none;}
.show {display: block;}

@media all and (min-width: 320px) and (max-width: 767px) {
  .cform {
    width: 90%;
  }
  .fieldnames,
  .errorContainer {
    font-size: 13px ;
    line-height: 21px ;
  }
  .cform .submitbutton {
    font-size: 15px;
    height: 20%;
    right: -75.5%;
  }
  .errorMessage {
    width: 90%;
    margin-left: 8%;
    font-size: 13px;
    line-height: 21px;
  }
}
