.title {
  font-family: Georgia, Times, serif;
  font-size: 33px;
  line-height: 38px;
  font-weight: 700;
  color: #222222;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 15px;
  color: #565656;
}
