.footer {
  z-index: 2;
  min-height: 100px;
  background: rgb(255, 255, 255);
  display: block;
  font-family: Georgia, serif;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  padding-bottom: 45px;
  padding-top: 45px;
  position: relative;

  .credits {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(34, 34, 34);
    font-size: 13px;
    text-align: center;
  }
  .credits::selection {
    background-color: #29cbc8;
    color: #d0ff00;
  }
}
