.page {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-top: 127px;
.show {
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  max-height: 800px;
  overflow: hidden;
}
.hide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.giftCardwrpr, .loginwrpr {
  display: block;
  padding: 0 5%;
  padding-top: 60px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.loginwrpr {
  padding-top: 0;
}
::selection {
  background-color: #29cbc8;
  color: #d0ff00;
}
}
