.page {
  position: relative;
  width: 100%;
  z-index: 1;
  padding-top: 127px;
}
.title {
  font-family: Georgia, Times, serif;
  font-size: 33px;
  line-height: 38px;
  font-weight: 700;
  color: #222222;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.intro {
  display: block;
  margin: 15px auto 0 auto;
  width: 60%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  word-wrap: break-word;
  color: #565656;
  padding-bottom: 60px;
}
.actions {
  text-decoration: none;
  border-bottom: 1px dotted #000;
  color: rgb(86, 86, 86);
}
.actions:hover {
  color: #000;
}
.actions:active {
  color: rgb(25, 112, 117);
}
*::selection {
    background-color: #29cbc8;
    color: #d0ff00;
}

.storecreditamount {
  text-align: center;
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
}

.giftcardform {
  margin-top: 40px;
  text-align: center;
  .giftcardform_title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .giftcardform_input {
    font-family: Georgia, Times, serif;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    height: 42px;
    line-height: 42px;
    font-weight: 500;
    padding: 0 12px;
    color: #2D2D2D;
    display: inline-block;
    max-width: 380px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    outline: none;
  }
  .giftcardform_submit {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 42px;
    font-weight: 800;
    color: #000;
    height: 42px;
    padding: 0 60px;
    text-transform: uppercase;
    margin: 0 3px;
    border: none;
    outline: none;
    display: inline;
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    appearance: button;
    box-sizing: border-box;
    background-color: #29cbc8;
    width: auto;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }
}
@media (max-width: 767px) and (min-width: 320px){
  .dashboard {
    .intro {
      width: 110%;
      font-size: 14px;
      line-height: 23px;
    }
  }
}
