.title {
  font-family: Georgia, Times, serif;
  font-size: 33px;
  line-height: 38px;
  font-weight: 700;
  color: #222222;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 15px;
  color: #565656;
}

.subtitlesmall {
  width: 60%;
  position: relative;
  padding: 0;
  margin: 15px auto 0 auto;
  }

.form {
  max-width: 580px;
  margin: 30px auto 30px;
  text-align: center;
}

.form2 { margin: 60px auto 30px; }

.phoneemailwrapper {
  display: block;
  position: relative;
}
.inputwrapper {
  text-align: left;
  margin: 15px 0 25px;
}

.inputwrapper2 {
  text-align: left;
  margin: 30px auto 30px;
}

.inputleft {
  width: 48%;
  float: left;
}

.inputright {
  width: 48%;
  float: right;
}

.buttonwrapper {
  text-align: center;
  margin: 15px 0 25px;
}

.buttonwrapper2 {
  text-align: center;
  margin: 50px 0 25px;
}

.label {
  font-family: Georgia, Times, serif;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  .required {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
  }
}

.remember {
  position: absolute;
  margin: 0 auto;
  left: 1%;
  right: 1%;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: -15px;
  margin-left: -10px;
}

.input {
  font-family: Georgia, Times, serif;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  font-weight: 500;
  padding: 0 12px;
  color: #2D2D2D;
  display: block;
  max-width: 580px;
  width: 100%;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.textarea {
  font-family: Georgia, Times, serif;
  background: #ffffff;
  width: 100%;
  max-width: 580px;
  margin: 10px auto;
  box-sizing: border-box;
  color: red;
  border: 1px solid #cfcfcf;
  font-size: 12px;
  line-height: 42px;
  font-weight: 500;
  padding: 0 12px;
  color: #2D2D2D;
  resize: none;
}

.checkbox {
  font-family: Georgia, Times, serif;
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  top: 2px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  font-size: 12px;
  line-height: 42px;
  font-weight: 500;
  padding: 0 12px;
  color: #2D2D2D;
  max-width: 580px;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.submit {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 61px;
  font-weight: 800;
  color: #000;
  height: 61px;
  padding: 0 60px;
  text-transform: uppercase;
  margin: 0 3px;
  border: none;
  outline: none;
  display: inline;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  appearance: button;
  box-sizing: border-box;
  background-color: #29cbc8;
  width: auto;
  margin-top: 20px;
  cursor: pointer;
}

.submit:hover {
  background-color: #333333;
  color: #29cbc8;
}

.login {
  margin-bottom: 25px;
}

.checkbox:focus,
.input:focus,
.textarea:focus {
  outline: none;
}

/* Lost Password */
.lostpassword {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  border-bottom: 1px dotted #565656;
  padding-bottom: 1px;
  color: #565656;
  display: inline;
  .lostlink {
    color: #565656;
    text-decoration: none;
  }
}

/* TODO: Refactor */
/* Checkout Form */
.cformcontent {
  margin-top: -70px;
}

.cformcontent2 {
  margin-top: -20px;
}

.sformcontent {
  margin-top: -35px;
}

.addresscontent {
  position: relative;
  display: block;
}

.checkoutselect {
  padding-top: 1px;
  background: #fff;
  border: 1px solid #cfcfcf;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  font-weight: 500;
  padding: 0 12px;
  color: #2D2D2D;
  display: block;
  max-width: 580px;
  width: 100%;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.checkoutselect:focus {
  outline: none;
}

/* Review Order */
.paymentcontainer {
  max-width: 500px;
  margin: 60px auto 30px;
  text-align: center;
}

.paymentmethod {
  display: block;
  margin-bottom: 20px;
}

.paytitle {
  color: #000;
  text-transform: none;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 16px;
  cursor: pointer;
  background: none;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px dotted #000;
}

.active{
  border-bottom-style: solid;
}

.paymentfields {
  border: 0;
  margin: 0;
  padding: 0;
  border: none;
  p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    max-width: 500px;
    color: #565656;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.showForm {
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  max-height: 800px;
  overflow: hidden;
}

.hideForm {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

@media (max-width: 767px) and (min-width: 320px) {
  .cformcontent { margin-top: 0; }
  .submit { border-radius: 5px; }
  .pcodebtn { padding: 0 25px; }
  .paymentcontainer ul { padding-left: 0px; }
  .subtitlesmall { font-size: 14px; line-height: 23px; }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .label { font-size: 10px; }
}