#header {
	position: relative;
	width: 100%;
	height: 127px;
	top: 0;
	background: -webkit-linear-gradient(left,#19D9B0, #3DB4E5);
	border-top: 3px solid #000000;
	box-sizing: border-box;
	.logo-container {
		position: absolute;
		top: 36px;
		left: 3%;
		z-index: 10001;
	}
}